body {
	margin: 0;
	background-color: #000;
	border-color: #eeeeed;
	font-family: system-font, -webkit-system-font, -apple-system-font, 'Helvetica Neue', HelveticaNeue, Helvetica, sans-serif;
	font-size: 1.1em;
	font-weight: 300;
	color: #444442;
}

input {
	font-family: inherit;
}

button {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

strong, .strong {
	font-weight: 500;
}

*::selection {
	background: #ee7799;
	color: #fffffd;
}

#container {
	box-sizing: border-box;
	width: 100%;
	min-height: 100%;
	padding-right: 400px;
	float: left;
	height: 100vh;
}

#container > div {
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
}

div, section, ul {
	border-color: inherit;
}

h1, h2, h3 {
	text-align: center;
}
h1 {
	font-weight: 200;
	font-size: 4em;
}
h2 {
	font-weight: 200;
	font-size: 2em;
}
h3 {
	font-weight: 300;
	/*font-size: 2em;*/
}

nav, #content {
	max-width: 1280px;
	margin: auto;
	padding: 0 8px;
}

.narrow {
	max-width: 720px;
	margin: auto;
}

.mini {
	font-size: 0.5em;
}

.right {
	text-align: right;
}
